.header{
    grid-area: header;
    background-image: linear-gradient(to right, $claro, $oscuro);
    display: flex;
    flex-direction: column-reverse;
    padding: 10px;
    .header_titulo{
        color: rgb(3, 3, 116);
        grid-area: header_titulo;
    }

    
    .header_logo{
        width: 60px;
        grid-area: header_logo;
        background-color: black;
        .header_logo_img{
            width: 100%;    
            height: 100%;  
            border-radius: 20px;
        }
    }   
}