.nav-y-form{
    grid-area: nav-y-form;
    background-color: $medio;
    display: flex;
    flex-direction: column;
    padding: 20px;
    
    .nav{
        padding: 20px;
        justify-content: center;
        align-items: center;
        grid-area: header_nav;
        .nav_menu{
            padding: 0px;
            margin: 0px;
            list-style-type: none;
            display: flex; 
            flex-direction: column;
            gap: 20px;
            .nav_link{
                color:rgb(13, 13, 13);
                text-decoration: none;
                padding: 0.7rem;
                transition: all 1s;
            }
            .nav_link:hover{
                background-color: $oscuro;
                color: $blanco;
                border-radius: 20px;
            }   
        }
    }
    .text-center{
        font-family: "Protest Strike", sans-serif;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        padding: 10px;
        color:$blanco;
        animation-duration: 3s;
        animation-name: titulo;
        animation-iteration-count: infinite;
    }
    @keyframes titulo{
       0%{
        opacity:0.5;
       }
       50%{
        opacity:1;
       }
       100%{
        opacity:0;
        color: rgb(205, 8, 8);
       }
    }
    
    .form{
        text-align: center;
        padding: 20px;
        width: 80%;
        margin: 0 auto;
        border: $oscuro solid;
        border-radius: 20px;
        
    }
    
}